:host {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn-back {
    width: min-content;
    padding: 10px 40px;
    font-size: .875rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background-color: var(--color-elements);
    color: var(--color-text);
    border: none;

    &__icon {
        font-size: 1rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.country {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
    align-items: center;
}

.flag {
    justify-self: center;
    border-radius: 6px;
    max-width: 80%;
    max-height: 400px;
}

.datails {
    .name {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
            gap: 5px;
            max-width: 600px;

        .property {
            font-size: .875rem;
            margin-bottom: 15px;
            font-weight: bold;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .value {
            color: var(--color-text2);
            font-weight: normal;
        }
    }
}

.country-tags {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: .875rem;
    font-weight: bold;
    
    &__item {
        border-radius: 6px;
        background-color: var(--color-elements);
        font-weight: normal;
        padding: 7px 14px;
    }
}
@media (max-width: 375px) {
    .datails .grid {
        grid-template-columns: 1fr;
    }
}