<div class="group">
    <div class="search">
        <span class="search__icon material-icons">search</span>
        <input class="search__input shadow radius" type="text" placeholder="Search for a country" #query (keyup)="onSearch(query.value)">
    </div>
    
    <select class="select-region shadow" (change)="onRegion($event)">
        <option class="select-region__option" value="">Filter by region</option>
        <option class="select-region__option" value="africa">Africa</option>
        <option class="select-region__option" value="america">America</option>
        <option class="select-region__option" value="asia">Asia</option>
        <option class="select-region__option" value="europe">Europe</option>
        <option class="select-region__option" value="oceania">Oceania</option>
    </select>
</div>

<div class="countries">
    <app-card class="radius shadow" *ngFor="let country of countries" [country]="country" [routerLink]="['/country-details', country.name.common]"></app-card>
</div>