:host {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.search {
    position: relative;
    width: 350px;

    &__icon {
        color: var(--color-text);
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        font-size: 1.5rem;
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--color-elements);
        padding: 15px 20px 15px 50px;
        font-size: 1rem;
        color: var(--color-text);
    }
}

.select-region {
    border-radius: 6px;
    background-color: var(--color-elements);
    color: var(--color-text);
    padding: 8px 16px;
    border: 0;
    outline: 0;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: tomato;
        transition: .25s all ease;
        pointer-events: none;
    }

    &__option {
        &:is(:active, :checked, :focus, :hover) {
            background-color: teal;
        }
    }

}

.countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
}