:host {
    height: 100%;
    width: 100%;
}

.header {
    background-color: var(--color-elements);
    padding: 20px;
    font-size: .75rem;
    margin-bottom: 40px;

    &__group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.theme {
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
        cursor: pointer;
    }

    &__icon {
        font-size: 1rem;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
}